# Portions (c) Microsoft Corporation. All rights reserved.

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore the whole classes directory
classes

# Ignore built bundles
sc-bundles

# Libraries now stored on artifactory
lib/native/mac/com/sun/jna
lib/native/mac/libAEGetURLEventHandlerAgent.dylib
lib/native/mac/libglobalshortcut.jnilib
lib/native/mac/libjmacosxaddrbook.jnilib
lib/native/mac/libjnavfoundation.jnilib
lib/native/mac/libjnawtrenderer.jnilib
lib/native/mac/libjndirectshow.jnilib
lib/native/mac/libjng722.jnilib
lib/native/mac/libjnidispatch.jnilib
lib/native/mac/libjnmaccoreaudio.jnilib
lib/native/mac/libjnopus.jnilib
lib/native/mac/libjnspeex.jnilib
lib/native/mac/libjnwasapi.jnilib
lib/native/mac/libjnwincoreaudio.jnilib
lib/native/mac/libLocalhostRetriever.jnilib
lib/native/mac/libsysactivitynotifications.jnilib
lib/native/mac/org/bytedeco

lib/native/windows/32/*.exe
lib/native/windows/64/*.exe
lib/native/windows/com/sun/jna
lib/native/windows/globalshortcut.dll
lib/native/windows/jmsoutlookaddrbook.dll
lib/native/windows/jnawtrenderer.dll
lib/native/windows/jndirectshow.dll
lib/native/windows/jng722.dll
lib/native/windows/jnopus.dll
lib/native/windows/jnspeex.dll
lib/native/windows/jnwasapi.dll
lib/native/windows/jnwincoreaudio.dll
lib/native/windows/libpltwrapper.dll
lib/native/windows/org/bytedeco

lib/native/windows/LocalhostRetriever.dll
lib/native/windows/spokes.dll
lib/native/windows/sysactivitynotifications.dll
lib/native/windows-64
lib/native/windows/*.dll

resources/install/macosx/libjabra.dylib
resources/install/macosx/libyealinkusbsdk.dylib
resources/install/macosx/libpltwrapper.dylib
resources/install/macosx/Sparkle.framework.zip
resources/install/macosx/Spokes3GSDK.framework.zip
lib/OpenJDK*.tar.gz
resources/install/windows/xz.exe
resources/install/windows/jre_windows.zip

lib/bundle

lib/installer-exclude/*.jar
lib/installer-exclude/os-specific/*.jar

lib/os-specific/mac/orange-extensions.jar

lib/animal-sniffer-annotations.jar
lib/org.apache.felix.main.jar
lib/applicationinsights-agent.jar

lib/native/windows/32/history.xml
lib/native/windows/64/history.xml
lib/native/windows/history.xml

src/native/native_obj/*
src/native/addressbook/MsOutlookAddrBook
src/native/deploy.bat

src/native/windows/lib32/*.a
src/native/windows/lib64/*.a

# Ignore test output artefacts
test-reports
out
*.jacoco.exec
