# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore the whole classes directory
classes

# Ignore built bundles
sc-bundles

# Libraries now stored on artifactory
lib/native/mac/com/sun/jna
lib/native/mac/libAEGetURLEventHandlerAgent.dylib
lib/native/mac/libglobalshortcut.jnilib
lib/native/mac/libhid.jnilib
lib/native/mac/libhwaddressretriever.jnilib
lib/native/mac/libjmacosxaddrbook.jnilib
lib/native/mac/libjmsofficecomm.jnilib
lib/native/mac/libjnavfoundation.jnilib
lib/native/mac/libjnawtrenderer.jnilib
lib/native/mac/libjndirectshow.jnilib
lib/native/mac/libjng722.jnilib
lib/native/mac/libjnidispatch.jnilib
lib/native/mac/libjnmaccoreaudio.jnilib
lib/native/mac/libjnopus.jnilib
lib/native/mac/libjnscreencapture.jnilib
lib/native/mac/libjnspeex.jnilib
lib/native/mac/libjntaskbar.jnilib
lib/native/mac/libjnvpx.jnilib
lib/native/mac/libjnwasapi.jnilib
lib/native/mac/libjnwincoreaudio.jnilib
lib/native/mac/libswt*.jnilib
lib/native/mac/libLocalhostRetriever.jnilib
lib/native/mac/libsysactivitynotifications.jnilib
lib/native/mac/org/bytedeco

lib/native/windows/32/AccessionOutlookServer32.exe
lib/native/windows/64/AccessionOutlookServer64.exe
lib/native/windows/32/libcurl-4.dll
lib/native/windows/64/libcurl-4.dll
lib/native/windows/com/sun/jna
lib/native/windows/globalshortcut.dll
lib/native/windows/hid.dll
lib/native/windows/hwaddressretriever.dll
lib/native/windows/javafx-graphics-win32.zip
lib/native/windows/jmsofficecomm.dll
lib/native/windows/jmsoutlookaddrbook.dll
lib/native/windows/jnawtrenderer.dll
lib/native/windows/jndirectshow.dll
lib/native/windows/jng722.dll
lib/native/windows/jnopus.dll
lib/native/windows/jnscreencapture.dll
lib/native/windows/jnspeex.dll
lib/native/windows/jntaskbar.dll
lib/native/windows/jnvpx.dll
lib/native/windows/jnwasapi.dll
lib/native/windows/jnwincoreaudio.dll
lib/native/windows/libpltwrapper.dll
lib/native/windows/org/bytedeco

lib/native/windows/swt-*.dll
lib/native/windows/LocalhostRetriever.dll
lib/native/windows/spokes.dll
lib/native/windows/sysactivitynotifications.dll
lib/native/windows-64
lib/native/windows/*.dll

resources/install/macosx/libjabra.dylib
resources/install/macosx/libpltwrapper.dylib
resources/install/macosx/Sparkle.framework.zip
resources/install/macosx/Spokes3GSDK.framework.zip
lib/OpenJDK*.tar.gz
resources/install/windows/xz.exe
resources/install/windows/jre_windows.zip

lib/bundle/log4j*
lib/bundle/nanohttpd*
lib/bundle/commons-*
lib/bundle/easymock.jar
lib/bundle/jackson-*.jar
lib/bundle/Java-WebSocket*.jar
lib/bundle/metadata-extractor*.jar
lib/bundle/metaswitch-protobuf.jar
lib/bundle/netty-*.jar
lib/bundle/objenesis.jar
lib/bundle/org.apache.felix.bundlerepository.jar
lib/bundle/protobuf-java*
lib/bundle/slf4j-*.jar
lib/bundle/xmpcore*.jar
lib/bundle/jxmpp-core.jar
lib/bundle/jxmpp-jid.jar
lib/bundle/jxmpp-util-cache.jar
lib/bundle/dnsjava.jar
lib/bundle/minidns-core.jar
lib/bundle/smack-*.jar

lib/installer-exclude/*.jar
lib/installer-exclude/os-specific/*.jar

# All *.dylib files fetched from javafx-graphics-mac.jar
lib/os-specific/mac/libdecora_sse.dylib
lib/os-specific/mac/libglass.dylib
lib/os-specific/mac/libjavafx_font.dylib
lib/os-specific/mac/libjavafx_iio.dylib
lib/os-specific/mac/libprism_common.dylib
lib/os-specific/mac/libprism_es2.dylib
lib/os-specific/mac/libprism_sw.dylib

lib/os-specific/mac/orange-extensions.jar
lib/os-specific/*/javafx-*.jar
lib/os-specific/*/swt.jar

lib/animal-sniffer-annotations.jar
lib/org.apache.felix.main.jar

src/native/native_obj/*
src/native/addressbook/MsOutlookAddrBook
src/native/deploy.bat

# Ignore test output artefacts
test-reports
out
*.jacoco.exec
