<?xml version="1.0" encoding="windows-1250" ?>
<WixLocalization
    xmlns="http://schemas.microsoft.com/wix/2006/localization"
    Culture="pl-pl"
    Language="1045">

  <String Id="CleanSweepDlg_Title" Overridable="yes">@@PRODUCT_NAME_TITLECASE@@ Wstępna Konfiguracja</String>
  <String Id="CleanSweepDlgBannerBitmap" Overridable="yes">WixUI_Bmp_Banner</String>
  <String Id="CleanSweepDlgDescription" Overridable="yes">Jakie dodatkowe zadania należy wykonać?</String>
  <String Id="CleanSweepDlgTitle" Overridable="yes">{\WixUI_Font_Title}Dodatkowe Zadania</String>

  <String Id="ShortcutsAndRegistryDlg_Title" Overridable="yes">[ProductName] Konfiguracja</String>
  <String Id="ShortcutsAndRegistryDlgBannerBitmap" Overridable="yes">WixUI_Bmp_Banner</String>
  <String Id="ShortcutsAndRegistryDlgDescription" Overridable="yes">Jakie dodatkowe zadania należy wykonać?</String>
  <String Id="ShortcutsAndRegistryDlgTitle" Overridable="yes">{\WixUI_Font_Title}Dodatkowe Zadania</String>

  <String Id="ShortcutsAndRegistryDlg_CreateShortcuts" Overridable="yes">Utwórz Skróty</String>
  <String Id="ShortcutsAndRegistryDlg_CreateStartMenu" Overridable="yes">Menu S&amp;tartowe</String>
  <String Id="ShortcutsAndRegistryDlg_CreateDesktop" Overridable="yes">&amp;Stwórz skrót na pulpicie</String>
  <String Id="ShortcutsAndRegistryDlg_OtherActions" Overridable="yes">Inne Zadania</String>
  <String Id="ShortcutsAndRegistryDlg_CreateAutoStart" Overridable="yes">&amp;Uruchom @@PRODUCT_NAME_TITLECASE@@ przy starcie systemu</String>
  <String Id="ShortcutsAndRegistryDlg_AssociateProtocols" Overridable="yes">Skoj&amp;arz Protokoły</String>

  <String Id="WelcomeText1" Overridable="yes">To oprogramowanie zostało stworzone przez: @@COMPANY_NAME_LEGAL@@</String>
  <String Id="WelcomeText2" Overridable="yes">Strona domowa: @@WEB_PAGE@@</String>
  <String Id="WelcomeText3" Overridable="yes">{\GreyText}Działa w oparciu o jitsi.org</String>

  <String Id="SysReqError" Overridable="yes">@@PRODUCT_NAME_TITLECASE@@ nie jest obsługiwany przez tą wersję systemu Windows. Wymaga on co najmniej systemu Windows 7.</String>

  <String Id="ExitDialogOptionaCheckBoxText" Overridable="yes">Uruchom @@PRODUCT_NAME_TITLECASE@@</String>
</WixLocalization>