<?xml version="1.0" encoding="windows-1250" ?>
<WixLocalization
    xmlns="http://schemas.microsoft.com/wix/2006/localization"
    Culture="sk-sk"
    Language="1051">

  <String Id="CleanSweepDlg_Title" Overridable="yes">@@PRODUCT_NAME_TITLECASE@@ Nastavenie</String>
  <String Id="CleanSweepDlgBannerBitmap" Overridable="yes">WixUI_Bmp_Banner</String>
  <String Id="CleanSweepDlgDescription" Overridable="yes">Aké ďalšie úlohy by sa mali vykonať?</String>
  <String Id="CleanSweepDlgTitle" Overridable="yes">{\WixUI_Font_Title}Ďalšie úlohy</String>

  <String Id="ShortcutsAndRegistryDlg_Title" Overridable="yes">[ProductName] Nastavenie</String>
  <String Id="ShortcutsAndRegistryDlgBannerBitmap" Overridable="yes">WixUI_Bmp_Banner</String>
  <String Id="ShortcutsAndRegistryDlgDescription" Overridable="yes">Aké ďalšie úlohy by sa mali vykonať?</String>
  <String Id="ShortcutsAndRegistryDlgTitle" Overridable="yes">{\WixUI_Font_Title}Ďalšie úlohy</String>

  <String Id="ShortcutsAndRegistryDlg_CreateShortcuts" Overridable="yes">Vytvorte skratky</String>
  <String Id="ShortcutsAndRegistryDlg_CreateStartMenu" Overridable="yes">&amp;Ponuka Štart</String>
  <String Id="ShortcutsAndRegistryDlg_CreateDesktop" Overridable="yes">&amp;Vytvoriť skratku na pracovnej ploche</String>
  <String Id="ShortcutsAndRegistryDlg_OtherActions" Overridable="yes">Iné akcie</String>
  <String Id="ShortcutsAndRegistryDlg_CreateAutoStart" Overridable="yes">&amp;Pri spustení spustite @@PRODUCT_NAME_TITLECASE@@</String>
  <String Id="ShortcutsAndRegistryDlg_AssociateProtocols" Overridable="yes">&amp;Pridružené protokoly</String>

  <String Id="WelcomeText1" Overridable="yes">Tento softvér vyvinula: @@COMPANY_NAME_LEGAL@@</String>
  <String Id="WelcomeText2" Overridable="yes">Domovská stránka je na adrese: @@WEB_PAGE@@</String>
  <String Id="WelcomeText3" Overridable="yes">{\GreyText}Používa jitsi.org</String>

  <String Id="SysReqError" Overridable="yes">@@PRODUCT_NAME_TITLECASE@@ nie je v tejto verzii systému Windows podporovaný. Vyžaduje si to aspoň Windows 7.</String>

  <String Id="ExitDialogOptionaCheckBoxText" Overridable="yes">Spustiť @@PRODUCT_NAME_TITLECASE@@</String>
</WixLocalization>
